<!DOCTYPE html>
<html>

<head>
  <title></title>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

</head>

<body>

  <h1 class="hii">Please fill the following information!</h1>

  <style>
    .hii {
      font-size: 240%;
      font-weight: 100;
      text-transform: uppercase;
      text-align: center;
      margin-top: 0;
      margin-bottom: 20px;
      color: #000000;
      font-weight: 200;
      word-spacing: 4px;
      letter-spacing: 1px;
    }
  </style>

  <div class="">

    <hr>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">

          <header class="card-header">
            <a href="login#form" class="float-right btn btn-out mt-1">LogIn</a>
            <a href="login" class="float-right btn btn-outline mt-1">Home</a>
            <h4 class="card-title mt-2">Sign up</h4>
          </header>

          <article class="card-body">

            <form method="post" action="register_doctor">

              <!-- USER ID CREATED BY THE PATIENT-->
              <div class="form-group">

                <label>UserID</label>
                <input class="form-control" name="userid" type="text">

              </div>

              <!-- PASSWORD-->
              <div class="form-row">

                <!-- PASSWORD CREATED-->
                <div class="form-group col-md-6">
                  <label>Create Password</label>
                  <input type="password" name="password" class="form-control">
                </div> <!-- form-group end.// -->

                <!-- PASSWORD CONFIRMED-->
                <div class="form-group col-md-6">
                  <label>Confirm Password</label>
                  <input type="password" name="confirm_password" class="form-control">
                </div><!-- form-group end.// -->

              </div> <!-- form-row.// -->

              <!-- FIRST NAME-->
              <div class="form-row">

                <div class="col form-group col-md-6">
                  <label>First name </label>
                  <input type="text" name="fname" class="form-control" placeholder="">
                </div> <!-- form-group end.// -->

                <!-- LAST NAME-->
                <div class="col form-group col-md-6">
                  <label>Last name</label>
                  <input type="text" name="lname" class="form-control" placeholder=" ">
                </div> <!-- form-group end.// -->
              </div> <!-- form-row end.// -->

              <!-- PHONE NUMBER-->
              <div class="form-row">

                <div class="form-group col-md-6">
                  <label>Phone Number</label>
                  <input type="number" name="phno" class="form-control">
                </div> <!-- form-group end.// -->

                <!-- EMAIL-->

                <div class="form-group col-md-6">

                  <label>Email address</label>
                  <input type="email" name="email" class="form-control" placeholder="">

                  <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div> <!-- form-group end.// -->
              </div> <!-- form-row.// -->

              <!-- GENDER/SEX-->
              <div class="form-group">

                <label class="form-check form-check-inline">
                  Gender:
                  <input class="form-check-input" type="radio" name="gender" value="Male">
                  <span class="form-check-label"> Male</span>
                </label>

                <label class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" value="Female">
                  <span class="form-check-label"> Female</span>
                </label>

                <label class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" value="Other">
                  <span class="form-check-label"> Other</span>
                </label>
              </div> <!-- form-group end.// -->

              <!-- DATE OF BIRTH and AGE-->
              <div class="form-row">

                <div class="form-group col-md-6">
                  <label>Date of Birth</label>
                  <input type="text" name="dob" class="form-control">
                </div><!-- form-group end.// -->

                <div class="form-group col-md-6">
                  <label>Age</label>
                  <input name="age" class="form-control">
                </div><!-- form-group end.// -->

              </div>

              <!-- CITY (PATIENT)-->
              <div class="form-row">

                <!-- STREET NAME (PATIENT)-->
                <div class="form-group col-md-2">
                  <label>St. No.</label>
                  <input type="text" name="stno" class="form-control">
                </div><!-- form-group end.// -->

                <!-- STREET NAME (PATIENT)-->
                <div class="form-group col-md-4">
                  <label>St. Name</label>
                  <input type="text" name="stname" class="form-control">
                </div><!-- form-group end.// -->

                <div class="form-group col-md-6">
                  <label>City</label>
                  <input type="text" name="city" class="form-control">
                </div> <!-- form-group end.// -->

              </div> <!-- form-row.// -->

              <div class="form-row">

                <!-- STATE(STAETE)-->
                <div class="form-group col-md-6">
                  <label>State</label>
                  <select name="state" class="form-control">
                    <option selected=""> Choose...</option>

                    <option>Andhra Pradesh</option>
                    <option>Arunachal Pradesh</option>
                    <option>Andaman and Nicobar Islands</option>
                    <option>Assam</option>
                    <option>Bihar</option>
                    <option>Chandigarh</option>
                    <option>Chhattisgarh</option>
                    <option>Dadra and Nagar Haveli andDaman & Diu</option>
                    <option>Delhi</option>
                    <option>Goa</option>
                    <option>Gujarat</option>
                    <option>Haryana</option>
                    <option>Himachal Pradesh</option>
                    <option>Jammu & Kashmir</option>
                    <option>Jharkhand</option>
                    <option>Karnataka</option>
                    <option>Kerala</option>
                    <option>Ladakh</option>
                    <option>Lakshadweep</option>
                    <option>Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option>Manipur</option>
                    <option>Meghalaya</option>
                    <option>Mizoram</option>
                    <option>Nagaland</option>
                    <option>Odisha</option>
                    <option>Puducherry</option>
                    <option>Punjab</option>
                    <option>Rajasthan</option>
                    <option>Sikkim</option>
                    <option>Tamil Nadu</option>
                    <option>Telangana</option>
                    <option>Tripura</option>
                    <option>Uttarakhand</option>
                    <option>Uttar Pradesh</option>
                    <option>West Bengal</option>

                  </select>
                </div> <!-- form-group end.// -->

                <!-- PIN CODE-->
                <div class="form-group col-md-6">
                  <label>Pin Code</label>
                  <input type="text" name="zipcode" class="form-control">
                </div> <!-- form-group end.// -->

              </div> <!-- form-row.// -->

              <!-- Qalification -->
              <div class="form-group">

                <label>Qualification</label>
                <input class="form-control" id="qualification" name="qualification" type="text">

              </div>

              <!-- Hospital details -->
              <div class="form-row">

                <div class="form-group col-md-6">
                  <label><span style="font-weight: bold;"> Hospital Details</span> </label>
                </div>

              </div> <!-- form-row.// -->

              <!-- Hospital name-->
              <div class="form-group">

                <label>Name of Hospital</label>
                <input class="form-control" id="hname" name="hname" type="text">

              </div>

              <!-- Department -->
              <div class="form-group">

                <label>Department you work</label>
                <input class="form-control" id="dept" name="dept" type="text">

              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Register </button>
              </div> <!-- form-group// -->

              <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>
            </form>
          </article> <!-- card-body end .// -->
          <div class="border-top card-body text-center">Have an account? <a href="sl1index.html#form">Log In</a></div>
        </div> <!-- card.// -->
      </div> <!-- col.//-->

    </div> <!-- row.//-->
  </div>
  <!--container end.//-->

  <br><br>

</body>

</html>
