<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="queries.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>

  <title>Famical</title>
</head>

<body>
  <header>
    <nav>
      <div class="row">
        <img src="images/logo.jpg" alt="Famical logo" class="logo">
        <ul class="main-nav">
          <li><a href="login">Home</a></li>
          <li><a href="#form">LogIn</a></li>
          <li><a href="#who">Sign up</a></li>
        </ul>
      </div>
    </nav>
    <div class="hero-text-box">
      <h1><span style="color: rgb(30,144,255);font-style: italic;font-weight: bold;">FAMICAL</span> <br> Keeping You Well!</h1>

      <a class="btn btn-full" href="#form">Log In </a>
      <a class="btn btn-ghost" href="#who">Sign Up</a>

    </div>

  </header>

  <section id="form" class="section-form">
    <div class="row">
      <h2>LogIn</h2>
      <span style="color: red; text-align: center"><h3><%=(typeof alertMsg!='undefined')? alertMsg:''%></h3></span>
    </div>
    <div class="row">
      <form method="post" action="login" class="contact-form">
        <div class="row">
          <div class="col span-1-of-3">
            <label>User ID</label>
          </div>
          <div class="col span-2-of-3">
            <input type="text" name="userid" placeholder="User ID" required>
          </div>
        </div>
        <div class="row">
          <div class="col span-1-of-3">
            <label>Password</label>
          </div>
          <div class="col span-2-of-3">
            <input type="password" name="password" placeholder="Password" required>
          </div>
        </div>

        <div class="row">
          <div class="col span-1-of-3">
            <label>&nbsp;</label>
          </div>
          <div class="col span-2-of-3">
            <input type="submit" value="Log In">
          </div>
        </div>
      </form>

    </div>
  </section>

  <section id="who" class="who">
    <div class="row">
      <h2> Welcome To SignUp.<br>Who Are You ?</h2>

    </div>
    <div class="row">
      <div class="col span-1-of-3">
        <label>&nbsp;</label>
      </div>
      <div class="col span-2-of-3">
        <a class="btn btn-full" href="register_doctor">I am Doctor </a>
        <a class="btn btn-ghost" href="register_patient">I am Patient</a>
      </div>
    </div>
  </section>

  <footer>
      <p>
        Copyright &copy; 2020 by Famical, all rights reserved.
      </p>
    </div>
  </footer>

</body>

</html>
